<section id="index" radial-animated-background>

    <header class="index--header">
        <div class="index-header" sn-skrollr
                data-start="width:0px;top:-50%"
                data-100p-start="width:0px;top:0%"
                data-120p-start="width:0px;top:0%"
                data-200p-start="width:420px;top:0%"
                data-280p-start="width:420px;top:0%"
                data-320p-start="width:420px;top:-150%">

            <h1 sn-skrollr data-120p-start="transform:translateX(-210px)" data-200p-start="transform:translateX(0px)" class="index-header--heading">{{ 'CATCHLINE' | translate }}</h1>
            <h4 class="index-header--sub-heading">{{ 'CATCHLINE_SUB' | translate }}</h4>
        </div>
    </header>

    <section ui-view="mobile"></section>
    <section ui-view="tablet"></section>
    <section ui-view="desktop"></section>
</section>
